* {
    box-sizing: border-box;
}

.navBar {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(101, 13, 122, 0.8);
    color: #ffffff;
}
.navBar > h2 {
    padding: 1rem;
    flex-basis: 30%;
}
.navBar a {
    color: white;

}
.navBar a:hover {
    color: white;
}
.navBar span {
    padding: 1rem;


}
.navBar .linkHolder {
    flex-basis: 20%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
